.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    background-color: #0ba9f3;
    width: 250px;
    height: 100vh;
    color: #fff;
    padding: 10px;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile-image {
    border-radius: 50%;
    /* margin-bottom: 10px; */
    width: 30px;
    height: 30px;
    /* padding: 10px; */
  }
  
  .profile-image2 {
    border-radius: 50%;
    /* margin-bottom: 10px; */
    width: 60px;
    height: 60px;
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  .sidebar-nav ul li{
    list-style: none;
  
  }
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  
  }
  .logo-imageSide {
    width: 22%;
  }
  .logoContenaire{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .sidebar-nav ul li a:hover {
    text-decoration: underline;
  }
.NavLink{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #0ba9f3;
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  padding: 6px 12px;
  border-radius: 5px;
  border-right:#fff solid 5px;
  cursor: pointer;
}
.NavLink p{
  margin: 0;
  font-size: 0.8em;
}
.selectNav p{
  margin: 0;
  font-size: 0.8em;
}
.profile p,h3{
  margin: 0;
  font-size: 0.8em;
}
.NavLink img{
  margin-right: 10PX;
}
.selectNav img{
  margin-right: 10PX;
}

.selectNav{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #0ba9f3;
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  padding: 6px 12px;
  border-radius: 5px;
  border-right:yellow solid 5px;
}
.buttonBurger{
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 4px;
}
.buttonBurger:hover{
  background-color: #0087c5;
}