.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    /* border-bottom: 1px solid #ccc; */
  }
  .currentPage{
    color:#0ba9f3 ;
    padding: 0px 12px;
  }
  .searchBlock{
    display: flex;
    width: 50%;
    align-items: center;
  }
  
  .search-bar-top-bar {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn-send {
    background-color: #0ba9f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 12px;
  }
  
  .btn-send:hover {
    background-color: #0891c5;
  }
  