.app {
    display: flex;
  }
  .top{
    width: 100%;
  }
  .page {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* justify-content:center; */
    align-items: center;
    width: 100%;
  }
  .main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
  }
  /* Responsive Design */
  @media (max-width: 768px) {
    .app {
      flex-direction: column;
    }
  
    .main-section {
      width: 100%;
    }
  }
  