.folder-management-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
  }
  
  .folder-form-serv {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* padding: 12px 0; */
    max-height:30vh ;
  }
  
  .folder-form-serv {
    width: 30%;
  }
  .folder-list-serv {
    overflow-y: scroll;
    max-height: 40vh;
  }
  
  .first-serv{
      max-height: 49vh;
      
    }
  .folder-form-serv h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .folder-form-serv input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-start;
  }
  
  .btn-save {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .folder-list-serv {
    flex: 1;
  }
  
  .folder-list-serv h3 {
    margin-bottom: 20px;
  }
  
  .folder-item-serv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0ba9f3;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .folder-item-serv .paragraphe {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }
  .folder-item-serv .sm {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
  }
  .folder-actions-serv button {
    background-color: white;
    color: #0ba9f3;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .folder-actions-serv .btn-edit {
    background-color: #ffcc00;
  }
  
  .folder-actions-serv .btn-delete {
    background-color: #ff6666;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .rowManager{
    display: flex;
    gap: 20px;
    flex: 1;
  }
  .folder-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 10px;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  .folder-header .paragraphes {
    
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.5em;
  }
  