/* Background overlay with blur effect */
.profile-page-container{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    /* display: flex; */
  }
  .overlay-modal {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
      backdrop-filter: blur(10px); /* Blurring the background */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1000;
      padding: 12px 0;
    }
    
    /* Popup container */
    .modal {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      width: 40%;
      text-align: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
    }
    
    /* Textarea for input */
    .note-input {
      width: 100%;
      height: 200px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    
    /* Button styles */
    .popup-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
    
    .btn {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      width: 30%;
    }
    
    .btn-cancel {
      background-color: #f0ad4e;
      color: white;
      margin-right: 10px;
    }
    
    .btn-confirm {
      background-color: #5cb85c;
      color: white;
    }
    
    .btn-cancel:hover {
      background-color: #ec971f;
    }
    
    .btn-confirm:hover {
      background-color: #4cae4c;
    }
    
    .flexing-bottom{
      width: 50%;
    }